:root {
    --primary-color: #647da9;
    --hover-color: #647da9;
    --text-color: #f69996;
    --text-color-light: #dcdae2;
    --hover-text-color: #ede3c9;
    --background-color: #2a353d;
    --background-color-2: #1c3d53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding-top: 60px;
}

main {
    flex: 1;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color-2);
    color: var(--text-color-light);
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

section {
    background-color: #dcdae2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: var(--primary-color);
}


h1, h4 {
    color: var(--hover-text-color);
}

#menu-topo {
    background: var(--background-color-2);
    color: var(--text-color-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#menu-topo ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
}

#menu-topo ul li a {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

#menu-topo ul li a:hover, #menu-topo ul li a:focus {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    border-radius: 5px;
}

i {
    color: var(--text-color-light);
}

/* Ajustes de responsividade e do conteúdo */
@media (max-width: 992px) {
    body {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    #menu-topo ul {
        flex-direction: column;
        align-items: center;
    }

    #menu-topo ul li {
        margin: 5px 0;
    }
    
    body {
        padding-top: 100px;
    }
}
